<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="container">
    <p class="lead text-center">
    <table class="table table-bordered">
        <tr th:bgcolor="gold">
            <td>login</td>
            <td>wojewodztwo</td>
            <td>ule</td>
            <td>nr dzialki</td>
            <td>data wprowadzenia oferty</td>
            <td>koniec ważności oferty</td>
            <td>mapa</td>
        </tr>
        <tr th:each="beekeeper : ${beekeepers}">
            <td th:text="${beekeeper.login}"></td>
            <td th:text="${beekeeper.wojewodztwo}"></td>
            <td th:text="${beekeeper.ule}"></td>
            <td th:text="${beekeeper.dzialka}"></td>
            <td th:text="${#dates.format(beekeeper.startDate, 'dd-MMM-yyyy')}"></td>
            <td th:text="${#dates.format(beekeeper.endDate, 'dd-MMM-yyyy')}"></td>
            <td th:text="${beekeeper.mapa}"></td>
        </tr>
    </table>

    </p>

    <p><a href="/beekeepersform" class="btn btn-warning">Dodawanie do listy</a></p>
</div>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>